<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.txv_provider.mapper.TxvMapper" >
    <resultMap id="carouseBean" type="com.tx.txv_common.pojo.CarouseBean">
        <id column="pic_id" property="picId"></id>
        <result column="pic_location" property="picLocation"></result>
        <result column="pic_video" property="picVideo"></result>
        <result column="pic_data" property="picData"></result>
        <result column="pic_desc" property="picDesc"></result>
        <result column="pic_type" property="picType"></result>
        <result column="status" property="status"></result>
        <result column="upload_time" property="uploadTime"></result>
    </resultMap>


    <select id="getCarouseList"  resultMap="carouseBean">
     select  * from tx_pic t where t.pic_type=#{picType} order BY t.order
    </select>
</mapper>